.jomtaip-header {
  font-size: calc(10px + 2vmin);
  color: rgb(255, 252, 50);
  font-weight: 1000;
}

#typing {
  display:flex;
  flex-direction: column;
  width: 80vw;
  max-width: 700px;
  border-style: solid;
  border-color: yellow;
  border-radius: 10px;
  padding: 20px;
  color: white;
  font-size: 1.6rem;
}

.untyped {
  margin-right: 0.5rem;
}

#word_box{
  height: 5rem;
  overflow: hidden;
}
#pre {
  position: relative;
  top: 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#bottomarea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

#bottomarea input {
  font-size: 1.2em;
  flex: 1;
  margin-right: 10px;
}
#reload {
  background-color: rgb(19, 146, 250);
  border-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  border-style: solid;
  color: white;
  font-size: 2rem;
  font-weight: bolder;
  height: 4rem;
  width: 4rem;
  padding: 8px;
  margin-left: 10px;
}
